*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family:Arial, Helvetica, sans-serif
}

header {
    width: 100%;
    background-color: rgb(47, 46, 46);
    color: white;
    font-size: 2rem;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}

p {
    padding: 20px;

}

h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    text-align: center;
}

.boton {
    margin: auto;
}

.mostrar-ocultar {
    width: 60%;
    margin: 0 auto 20px auto;
    background-color: rgb(47, 46, 46);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.divImagen {
    width: calc(33% - 20px); 
    
}

.gridContainer {
    width: 60%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
}
  
.gridContainer img {
    width: 100%;
}

.gridContainerGrande{
    width: 100%;
    display: none;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo-imagen"
    "foto-grande"
    "pie-imagen";
    gap: 10px;
    justify-content: center;

}

.gridContainerGrande figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gridContainerGrande figcaption {
    margin-top: 10px;
}

#boton2 {
    display: none;
}
